apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
    - job_name: 'fastapi'
      static_configs:
      - targets: ['{{ .Release.Name }}-fastapi:8000']
      metrics_path: '/metrics'